/* Imports */

@import url(helpers.css);

/* Variables utilizadas en la web */

:root {
    --primary-color: rgb(45, 49, 76);
    --secondary-color: rgb(32, 36, 60);
    --three-color: rgb(90, 82, 255);
    --shadow-color: rgb(186, 187, 189);
    --text-color-primary: #ffffff;
    --text-color-secondary: rgb(46, 50, 77);
    --text-color-altern: rgb(171, 174, 178);
    --shadow-ligth: 0 6px 6px -3px rgba(39, 44, 51, 0.1), 0 10px 14px 1px rgba(39, 44, 51, 0.04), 0 4px 18px 3px rgba(39, 44, 51, 0.02);
}


/* Estilos generales */

* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    box-sizing: border-box;
}


/* Estilos generales del nav */

#main-nav {
    background-color: var(--primary-color);
    min-height: 65px;
    box-shadow: var(--shadow-ligth);
}

#main-nav .nav-container {
    justify-content: space-between;
    padding: 0.8rem 1rem;
}

#main-nav .nav-left {
    /* border: 1px solid black; */
    /* padding: 5px 5px; */
    align-items: center;
}

#main-nav .nav-rigth {
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid black; */
}


/* Estilos generales del brand */

.brand {
    align-items: center;
}

.brand-logo {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--three-color);
    border-radius: 5px;
    margin-right: 0.5rem;
}

.brand-logo img {
    padding: 0.25rem;
}

.brand .brand-text {
    font-size: 1.625rem;
    font-weight: 400;
    color: var(--text-color-primary);
}


/* Estilos generales del avatar */

.avatar-content small {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-content {
    align-items: center;
}

.avatar {
    font-size: 1rem;
    margin-right: 0.75rem;
    width: 2.5rem;
    height: 2.5rem;
}

.avatar-container {
    background-color: var(--secondary-color);
}